@import "../../index.css";

/* 
--------
Projects
--------
 */

.projects {
  background-color: var(--polarNight4);
  color: var(--snowStorm1);
  overflow: auto;
  font-family: "Source Sans Pro", sans-serif;
}

.showcase {
  margin: 50px;
}
