@import '../index.css';

/* 
-------
Console
-------
 */
.console {
  overflow: auto;
  margin: 30px 15px;
}

.consolewrapper {
  background-color: var(--polarNight4);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2em 25em;
  grid-template-areas:
    "nav-wrapper nav-wrapper"
    "left-column right-column";
}

.navwrapper {
  grid-area: nav-wrapper;
  border: 1px dashed var(--snowStorm1);
  color: var(--snowStorm1);
  padding: 5px 15px;
}
.leftcolumn {
  grid-area: left-column;
  border: 1px dashed var(--snowStorm1);
  color: var(--snowStorm1);
  padding: 15px;
}
.rightcolumn {
  grid-area: right-column;
  border: 1px dashed var(--snowStorm1);
  color: var(--snowStorm1);
  padding: 15px;
}
