:root {
  /* use by calling var(--varname); */
  --polarNight1: #4c566a;
  --polarNight2: #434c5e;
  --polarNight3: #3b4252;
  --polarNight4: #2e3440;
  --snowStorm1: #eceff4;
  --snowStorm2: #e5e9f0;
  --snowStorm3: #d8dee9;
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Source Code Pro", monospace;
  padding: 0;
  margin: 0;
}

/* 
---------
Container
---------
 */
.container {
  width: 1200px;
  margin: 0 auto;
}

/* 
-------------
Media queries
-------------
 */
@media screen and (max-width: 1200px) {
  .container {
    width: 95%;
  }
}
